.node {
  margin-top: -3px;
  margin-bottom: -2px;
  margin-right: -1px;
  border: 1px solid rgb(71, 71, 71);
  background-color: white;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.node-finish {
  background-color: rgb(255, 67, 67);
}

.node-start {
  background-color: rgb(39, 255, 111);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.75);
    background-color: rgb(38, 38, 107);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 1);
  }

  75% {
    transform: scale(1);
    background-color: rgba(0, 217, 159, 1);
  }

  100% {
    transform: scale(1);
    background-color: rgb(50, 197, 219);
  }
}

.node-wall {
  background-color: rgb(0, 0, 0);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 198, 74);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 240, 96);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
