@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.grid {
  margin: 100px 0 0 100px;
  flex: 6;
  border: 3px #bdfbff solid;
  padding:10px;
  background-color: rgba(49, 44, 43, 0.6);
  overflow: auto;
}

.buttons {
  margin: 100px -70px 0 100px;
  flex: 1;
  border: 2px #ccc solid;
  padding:10px;
  background-color: rgba(49, 44, 43, 0.6);
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  min-width: 200px;
  align-items: stretch;
  overflow: hidden;
}


.buttons button {
  align-self: center;
  margin: 20px 0 0 0;
  border: 2px solid #bda9df;
  height: 40px;
  width: 200px;
  border-radius: 4px;
  position: relative;

  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  margin: 25px;
  background-color: black;
  color: rgb(230, 230, 230);
}

.buttons div {
  align-self: center;
}

.buttons button:hover {
  border: 2px solid #d6bdff;
  color: white;
}

.buttons button:disabled {
  border: 2px solid #919191;
  color: #919191;
  cursor: default;
}

.dropdown {
  width: 200px;
  height: 40px;
  position: relative;
  margin: 25px;
  background-color: pink;
}

.algorithmMenu { 
  left: -25px;
  top: -25px;
  border: 2px solid #bda9df;
  background: black;
  font-size: 1.4em;
  color: rgb(230, 230, 230);
  font-weight: normal;
  /* -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear; */
}

.dropdownContent { 
  width: 196px;
  top: 37px;
  position: absolute;
  display: none;
  border-left: 2px solid #d6bdff;
  border-right: 2px solid #d6bdff;
  border-bottom: 2px solid #d6bdff;
  border-top: 2px solid rgb(78, 78, 78);
  background: black;
} 

.dropdown:hover .dropdownContent {
  display:block;
}
.dropdownContent a {
  cursor: pointer;
  font-size: 1em; 
  display: block; 
  padding: 12px 16px;
  text-decoration: none;
  color: rgb(230, 230, 230);
}
.dropdownContent a:hover {
  color: white;
  background: #202020;
}